body {
  font-family: arial;
  font-size: 14px;  
}

.form-json {
  width: 400px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #ddd;
  background-color: #eee;
}

.form-json .form-caption {
  font-size: 18px;
  text-align: center;
  margin-bottom: 10px;
}

.form-group {
  padding: 10px 0;
}

.form-group.hide {
  display: none;
}

.form-group-title {
  margin-bottom: 5px;
  font-size: 13px;
  color: #999;
}
.form-group-title:after {
  content: ': ';
}

.form-group-field input:not([type="radio"]) {
  width: 100%;
  height: 30px;
  line-height: 28px;
  padding: 4px 10px;
  box-sizing: border-box;
}

.form-group-field .label-type-radio {
  cursor: pointer;
}
.form-group-field .label-type-radio span {
  border-bottom: 1px dotted;  
}

.form-group-field .label-type-radio + .label-type-radio {
  margin-left: 10px;
}

.button-submit {
  margin-top: 20px;
  width: 100%;
  height: 40px;
  line-height: 30px;
  padding: 5px 10px;
  box-sizing: border-box;
  cursor: pointer;
  background-color: #0051b1;
  color: #fff;
  border-radius: 3px;
  border: 0;
}

.button-submit:active {
  box-shadow: inset 0 0 20px #2b2b2b;  
}

.ui-datepicker-calendar {
  display: none;  
}